{% extends "layout.html" %}
{% block content %}
    <article>
        <div class="media-body">
            <div class="article-metadata">
                <a class="mr-2" href="{{ url_for('user', username=post.author.username) }}">{{ post.author.username }}</a>
                <small class="text-muted">{{ post.date_posted.strftime('%d.%m.%Y') }}</small>
                {% if post.author == current_user %}
                    <div>
                        <a class="btn btn-secondary btn-sm mt-1 mb-1" href="{{ url_for('update_post', post_id=post.id) }}">Обновить</a>
                        <button type="button" class="btn btn-danger btn-sm m-1" data-toggle="modal" data-target="#deleteModal">Удалить</button>
                    </div>
                {% endif %}
            </div>
            <h2 class="article-title">{{ post.title }}</h2>
            <p class="article-content">{{ post.content }}</p>
        </div>

        <div class="comment-form">
            <p><h4>Оставить комментарий</h4></p>
            <form method="POST">

                <div class = "form-group">
                   <textarea class = "form-control mb-10" rows="5" name="message"
                             placeholder="Message"
                                onfocus="this.placeholder = ''"
                             onblur="this.placeholder = 'Сообщение...'"
                   required=""></textarea>
                </div>
                <button type="submit" class="btn btn-outline-success">Отправить</button>
            </form>
        </div>

        <div class="comment-sec-ares">
            <div class="container">
                <div class="row flex-column">
                    <p></p>
                    <p><h6> Комментариев: {{ post.comments }}</h6></p>
                    {% for comment in comments %}
                    <div class="comment-list">
                        <div class="single-comment justify-content-between d-flex">
                            <div class="user justify-content-between d-flex">
                                <div class="desc">
                                    <h5><a href="{{ url_for('user', username=post.author.username) }}">{{ comment.name }}</a></h5>
                                    <p class="date">{{ comment.pub_date.strftime('%d %B %Y') }}</p>
                                    <p class="comment">{{ comment.message }}</p>
                                </div>
                            </div>
                        </div>
                    </div>
                    {% endfor %}
                </div>
            </div>
        </div>
    </article>
    <!-- Modal -->
      <div class="modal fade" id="deleteModal" tabindex="-1" role="dialog" aria-labelledby="deleteModalLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
          <div class="modal-content">
            <div class="modal-header">
              <h5 class="modal-title" id="deleteModalLabel">Удалить пост?</h5>
              <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
              </button>
            </div>
            <div class="modal-footer">
              <button type="button" class="btn btn-secondary" data-dismiss="modal">Закрыть</button>
              <form action="{{ url_for('delete_post', post_id=post.id) }}" method="POST">
                <input class="btn btn-danger" type="submit" value="Удалить">
              </form>
            </div>
          </div>
        </div>
      </div>
{% endblock content %}