{% extends "Layout.html "%}
{% block content %}
    <table>
        <tr valign="top">
            <td>
                <h1>Имя: {{ sportsmen.name}}</h1>
                <p>Биография: {{ sportsmen.biography}} </p>
                <p>event_id: {{ sportsmen.event_id}} </p>
                <p>taking_parts: {{ sportsmen.taking_parts}} </p>

                {% if not current_user.is_following(sportsmen) %}
                <p><a href="{{ url_for('follow', name=sportsmen.name) }}">Follow</a></p>
                {% else %}
                <p><a href="{{ url_for('unfollow', name=sportsmen.name) }}">Unfollow</a></p>
                {% endif %}


            </td>
        </tr>
    </table>
    <hr>

{% endblock %}