{% extends "Layout.html "%}
{% block content %}
    <table>
        <tr valign="top">
            <td>
                <h2> Имя: {{ sportsmen.name}} </h2>
                <p> Описание: {{ sportsmen.biography}} </p>

                {% if not current_user.is_following(sportsmen) %}
                <p><a href="{{ url_for('follow', name=sportsmen.name) }}">Follow</a></p>
                {% else %}
                <p><a href="{{ url_for('unfollow', name=sportsmen.name) }}">Unfollow</a></p>
                {% endif %}
            </td>
        </tr>
    </table>
    <hr>
{% endblock %}