{% extends "Layout.html "%}
{% block content %}
    <table>
        <tr valign="top">
            <br>
                <h1>User: {{ user.username }}</h1>

                {% if user.last_seen %}<p>Last seen on: {{ user.last_seen }}</p>{% endif %}

                {% if user == current_user %}
                <p><a href="{{ url_for('account') }}">Редактировать мой профиль</a></p>
                {% endif %}

             subscriptions:
            {% for sportsmens in user.followed %} </br>
                <article class="media content-section">
                  <div class="media-body">
                    <h2><a class="article-title" >{{ sportsmens.name }} учавствует в:</a></h2>
                    <p class="article-content">{% for event in sportsmens.taking_parts %}
                                                                    {{ event.name }} </br>
                                                            {% endfor %}</p>
                  </div>
                </article>
                 {% endfor %}
            </td>
        </tr>
    </table>
{% endblock content %}
